@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Bree+Serif&family=Open+Sans&family=Overlock&family=Raleway:wght@200&family=Roboto&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  background: #000000;
}

.menu{
  display: flex;
  justify-content: center;
}

.menu img{
  color: #fff;
}

.bio{
  text-align: center;
  font-size: 50px;
  font-family: Bree serif;
  margin-top: 45px;
  color: #F7D7C8;
}

figure img{
  width: 400px;
  height: 400px;
  border-radius: 50%;

}

figcaption{
  text-align: center;
  color: #fff;
  font-family: aleo;
  font-size: 18px;
  margin: 15px 0;
}

.image{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.description h3{
  width: 50%;
  margin: 0 auto;
  text-align: justify;
  color: #999999;
  font-family: Raleway;
  line-height: 25px;
}

.social-icons{
  display: flex;
  justify-content: center;
  margin: 30px 15px;
}

.fb, .twitter, .insta{
  width: 100px;
  display: flex;
  justify-content: center;
}

.fb img, .twitter img, .insta img{
  width: 35px;
}

.hero-section{
  display: flex;
  gap: 60px;
  justify-content: center;
  /* text-align: justify; */
  margin: 140px 0;
}

h1, h2, h3{
  color: #fff;
}

.part1{
  width: 35%;
}

.part1 h1{
  font-family: Aleo;
  font-size: 50px;
  color: #F7D7C8;
}

.part1 h2{
  width: 20%;
  letter-spacing: 5px;
  font-family: Roboto;
  font-weight: bold;
  color: #F7D7C8;
}

.part2{
  width: 35%;
  padding-top: 5px;
}

.part2 h1{
  font-size: 20px;
  font-family: Roboto;
  color: #F7D7C8;
}

.part2 h3{
  font-size: 16px;
  line-height: 30px;
  font-weight: lighter;
  font-family: Raleway;
}

.chat{
  display: flex;
  gap: 15px;
}

.chat img{
  width: 40px;
}

.chat h2{
  padding-top: 10px;
  color: #F7D7C8;
}

.hero-section2 h1{
  font-size: 70px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Raleway;
  font-weight: bolder;
  color: #F7D7C8;
}

hr{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hero2{
  width: 60%;
  margin: 0 auto;
}

.hero-section2 h2{
  font-size: 50px;
  text-align: center;
  font-family: Bree serif;
  letter-spacing: 3px;
  color: #F7D7C8;
}

.arrow{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.arrow img{
  width: 90px;
  color: #F7D7C8;
}

.hero-section2 h3{
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #F7D7C8;
}

.work{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.img{
  width: 350px;
  height: 350px;
  border-radius: 15%;
  transition: transform .5s ease;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6{
  height: 350px;
  overflow: hidden;
  border-radius: 15%;
}

.img1:hover img{
  transform: scale(1.2);
}
.img2:hover img{
  transform: scale(1.2);
}
.img3:hover img{
  transform: scale(1.2);
}
.img4:hover img{
  transform: scale(1.2);
}
.img5:hover img{
  transform: scale(1.2);
}
.img6:hover img{
  transform: scale(1.2);
}

.btn{
  /* width: 20%; */
  height: 60px;
  margin: 0 auto;
  text-align: center;
}

.btn button{
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: Roboto;
  margin-top: 30px;
}

.btn button a{
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 70px;
}

.btn a:hover, a:active {
  background-color: #F7D7C8;
  color: #000;
}

.hero-section3{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 200px auto;
  gap: 60px;
  font-family: Roboto;
}

.heroi h2{
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 1px;
}

.heroi h3{
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.heroii h2{
  font-weight: 100;
  line-height: 30px;
}

.signature{
  width: 150px;
}

.contact h1{
  text-align: center;
  font-size: 50px;
  font-family: Bree serif;
  font-weight: 100;
  margin-bottom: 30px;
  color: #F7D7C8;
}

.tel{
  display: flex;
  justify-content: center;
  gap: 5px;

}

.tel img{
  width: 20px;
}

.tel a{
  text-decoration: none;
  border: none;
  background: none;
  color: #FFF;
  font-family: Bree serif;
  font-size: 20px;
}

.image2{
  display: flex;
  justify-content: center;
}

.image2 img{
  border-radius: 50%;
  padding: 30px 0;
  margin: 20px 0 10px 0;
  width: 200px;
  height: 200px;
}

.location h2{
  text-align: center;
  font-family: Aleo;
  font-weight: bolder ;
  letter-spacing: 1px;
  font-size: 24px;
  margin: 0 0 20px 0;
}

.location h3{
  text-align: center;
  font-family: Roboto;
  font-weight: lighter;
}

.h3{
  margin: 0 0 30px 0;
}

.divider hr{
  width: 200px;
  height: 10px;
  background: #F7D7C8;
}

.sample{
  /* display: flex;
  justify-content: center; */
  width: 20%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.sample h2{
  text-align: center;
  font-family: Roboto;
  font-weight: lighter;
  line-height: 25px;
}

footer{
  width: 100%;
  height: 240px;
  background: #333333;
}

footer h2{
  text-align: center;
  padding: 60px 0 0 0;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 15px;
  line-height: 25px;
}

.footer-links {
  /* margin: 0 auto;
  width: 20%; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  width: 50%;
  gap: 5px;
}

.footer-links a{
  font-size: 14px;
  font-family: Bree serif;
  color: #65A0B7;
}

.footer-links a:hover{
  text-decoration: none;
  color: #A1A1A1;
}

.footer-links p{
  color: #F7D7C8;
  font-size: 14px;
  font-family: Bree serif;
}

/* MEDIA SECTION */
@media screen and (max-width: 1200px) {
  .work{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
  }

  .img{
    width: 300px;
    height: 300px;
    border-radius: 13%;
    transition: transform .5s ease;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6{
    height: 300px;
    overflow: hidden;
    border-radius: 13%;
  }

  .img1:hover img{
    transform: scale(1.2);
  }
  .img2:hover img{
    transform: scale(1.2);
  }
  .img3:hover img{
    transform: scale(1.2);
  }
  .img4:hover img{
    transform: scale(1.2);
  }
  .img5:hover img{
    transform: scale(1.2);
  }
  .img6:hover img{
    transform: scale(1.2);
  }
}

@media screen and (max-width: 1200px) {
  .work{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
  }

  .img{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    transition: transform .5s ease;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6{
    height: 250px;
    overflow: hidden;
    border-radius: 10%;
  }

  .img1:hover img{
    transform: scale(1.2);
  }
  .img2:hover img{
    transform: scale(1.2);
  }
  .img3:hover img{
    transform: scale(1.2);
  }
  .img4:hover img{
    transform: scale(1.2);
  }
  .img5:hover img{
    transform: scale(1.2);
  }
  .img6:hover img{
    transform: scale(1.2);
  }
}

/* @media screen and (max-width: 600px){
  .description h3{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    color: #999999;
    font-family: Raleway;
    line-height: 25px;
  }
} */

@media screen and (max-width: 500px) {
  .work{
    display: block;
    /* justify-content: center;
    gap: 40px; */
    margin: 40px 0;
  }

  /* .img{
    width: 250px;
    height: 250px;
    border-radius: 13%;
    transition: transform .5s ease;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6{
    height: 250px;
    overflow: hidden;
    border-radius: 13%;
  }

  .img1:hover img{
    transform: scale(1.2);
  }
  .img2:hover img{
    transform: scale(1.2);
  }
  .img3:hover img{
    transform: scale(1.2);
  }
  .img4:hover img{
    transform: scale(1.2);
  }
  .img5:hover img{
    transform: scale(1.2);
  }
  .img6:hover img{
    transform: scale(1.2);
  } */
}
